# build files of each user
build.sh
run-tpe
comp.sh

.gdbinit

# files due to bash and gdb
.bash_history
.gdb_history

# files linked due to qemu
Image/packedKernel.bin
Image/packedKernel.bin
Image/x64BareBonesImage.img
Image/x64BareBonesImage.qcow2
Userland/0001-sampleDataModule.bin
