# build files of each user
build.sh
run-tpe
comp.sh

.gdbinit

# files due to bash and gdb
.bash_history
.gdb_history

# files linked due to qemu
Image/packedKernel.bin
Image/packedKernel.bin
Image/x64BareBonesImage.img
Image/x64BareBonesImage.qcow2
Userland/0001-sampleDataModule.bin
Image/x64BareBonesImage.vmdk

*.o
*.elf
*.img

/Kernel/asm/*.o
Image/packedKernel.bin
Image/x64BareBonesImage.img
Image/x64BareBonesImage.qcow2
Image/x64BareBonesImage.vmdk
Kernel/asm/interrupts.o
Kernel/asm/libasm.o
Kernel/exceptions.o
.gitignore
Kernel/irqDispatcher.o
.gitignore
Kernel/kernel.o
Kernel/moduleLoader.o
.gitignore
Userland/SampleCodeModule/obj/syscalls.asm.o
Userland/0000-sampleCodeModule.bin
Userland/0001-sampleDataModule.bin
